<div class="site-footer__external base__padding">
  <div class="container">
    <ul class="row">
      <li class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="site-footer__external-head">
          <a href="https://spacemarket.com/about/app" target="_blank" class="external-a">
            <img height="15" width="142" alt="SPACEMARKET" src="//d1nc9n01ephlj6.cloudfront.net/assets/service/footer/logo_spmkt-1d71e87d8a6935c52ce50fd9aa45d302.png" />
            <span class="site-footer__external-link">アプリ <i class="fa fa-external-link"></i></span>
          </a>
        </h3>
        <p class="site-footer__external-text">いつでも、どこでもレンタルスペースを検索、予約。スペースマーケットのアプリ登場！</p>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="site-footer__external-head">
          <a href="http://blog.spacemarket.com/" target="_blank" class="external-a">
            <img height="15" width="187" alt="SPACEMARKET BLOG" src="//d1nc9n01ephlj6.cloudfront.net/assets/service/footer/logo_blog-1a317e2d63655491f884fa5b28f366c3.png" />
            <span class="site-footer__external-link">開発ブログ <i class="fa fa-external-link"></i></span>
          </a>
        </h3>
        <p class="site-footer__external-text">スペースマーケットUXデザイン部によるサービス開発ブログ</p>
      </li>
      <li class="col-xs-12 col-sm-4 col-md-4">
        <h3 class="site-footer__external-head">
          <a href="http://beyond.spacemarket.com/" target="_blank" class="external-a">
            <img heigh="15" width="87" alt="BEYOND" src="//d1nc9n01ephlj6.cloudfront.net/assets/service/footer/logo_beyond-731cd036ae14f0aaa5ebce263976536b.png" />
            <span class="site-footer__external-link">利用事例 <i class="fa fa-external-link"></i></span>
          </a>
        </h3>
        <p class="site-footer__external-text">スペース利用事例やホストへのインタビュー等、生の声をお届け</p>
      </li>
    </ul>
  </div>
</div>
<div class="site-footer base__padding">
  <div class="container">
    <div class="row site-footer__nav">
      <div class="col-xs-12 col-sm-12 col-md-3 col-langage">
        <span class="site-footer__select">
          <div id="google_translate_element"></div>
          <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,ja', autoDisplay: false, gaTrack: true, gaId: 'UA-46693491-1'}, 'google_translate_element');
          }
          </script>
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async></script>
        </span>
        <span class="site-footer__select">
          <select class="site-footer__select-width">
            <option value="" selected="selected">Japanese Yen</option>
          </select>
        </span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h3 class="site-footer__nav-title sm-hide__guteter">スペースマーケットについて</h3>
          <ul class="site-footer__nav-link sm-hide__guteter">
            <li><a href="/about/service">スペースマーケットとは</a></li>
            <li><a href="/about/how_it_works">ご利用の流れ</a></li>
            <li><a href="/about/why_owner">スペース掲載をご希望の方へ</a></li>
            <li><a href="/about/app">スマートフォンアプリ</a></li>
            <li><a target="_blank" href="http://spacemarket.co.jp/recruit">採用情報</a></li>
            <li><a target="_blank" onclick="SMTrackHelper.pageEvent(&#39;company footer&#39;)" href="http://spacemarket.co.jp/">運営会社</a></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h3 class="site-footer__nav-title sm-hide__guteter">レンタルスペースを探す</h3>
          <ul class="site-footer__nav-link sm-hide__guteter">
            <li><a href="/event_types">目的から探す</a></li>
            <li><a href="/capacities">人数から探す</a></li>
            <li><a href="/areas">エリアから探す</a></li>
            <li><a href="/space_types">会場タイプから探す</a></li>
            <li><a href="/amenities">アメニティから探す</a></li>
            <li><a href="/concierge">法人利用のご相談</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <h3 class="site-footer__nav-title sm-hide__guteter">サイトの利用について</h3>
          <ul class="site-footer__nav-link sm-hide__guteter">
            <li><a href="/about/terms">利用規約</a></li>
            <li><a href="/about/privacy">プライバシーポリシー</a></li>
            <li><a href="/about/terms_of_space_use">ゲスト利用規約</a></li>
            <li><a href="/about/tokushoho">特定商取引法に基づく表示</a></li>
            <li><a href="/about/agreement">約款</a></li>
            <li><a target="_blank" href="https://help.spacemarket.com/hc">よくある質問</a></li>
            <li><a target="_blank" href="https://help.spacemarket.com/hc/categories/204528307">お問い合わせ</a></li>
          </ul>
      </div>
    </div>
    <div class="site-footer__copyrights">
      <ul class="site-footer__sns-link">
        <li><a href="https://www.facebook.com/spacemarketjp" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/spacemarketjp" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="https://www.instagram.com/spacemarketjp/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <small><img height="12" width="113" alt="SPACEMARKET" src="//d1nc9n01ephlj6.cloudfront.net/assets/service/footer/logo_spmkt-1d71e87d8a6935c52ce50fd9aa45d302.png" /> © Space Market, Inc. </small>
    </div>
  </div>
</div>
