<body class="site-service body-home__index" style="position: relative; min-height: 100%; top: 0px;">
<header>
  <div class="dashboard-container">
      <div data-react-class="SMMustHeaderView" >
        <%= render partial: 'share/campaign' %>
      </div>
    <%= render partial: "share/header" %>
  </div>
</header>
  <div class="site-main" data-reactroot="" data-reactid="1" data-react-checksum="-688888343">
    <div id="slider" class="flexslider" data-reactid="2">
      <div class="top-slider__cover" data-reactid="3">
        <ul class="slides" data-reactid="4">
          <li class="js-top-slide-image_3" data-reactid="5"></li>
          <li class="js-top-slide-image_0" data-reactid="6"></li>
          <li class="js-top-slide-image_1" data-reactid="7"></li>
          <li class="js-top-slide-image_2" data-reactid="8"></li>
        </ul>
      </div>
      <span data-reactid="9"></span>
      <div class="js-slide-image-preloader js-top-slide-image_party" data-reactid="10"></div>
      <div class="js-slide-image-preloader js-top-slide-image_class" data-reactid="11"></div>
      <div class="js-slide-image-preloader js-top-slide-image_stay" data-reactid="12"></div>
      <div class="top-slider__position" data-reactid="13">
        <div class="container top-slider__title" data-reactid="14">
          <p class="top-slider__title-main" data-reactid="15">今度はここで 何しよう</p>
          <h1 class="top-slider__title-sub" data-reactid="16">11289件のレンタルスペースから自分だけのスペースを見つけよう</h1>
        </div>
        <div class="hero-ctg" data-reactid="17">
          <div class="container" data-reactid="18">
            <div class="hero-ctg__parent row" data-reactid="19">
              <ul data-reactid="20">
                <li class="hero-ctg__parent__list col-xs-4" data-reactid="21">
                  <a data-group="1" data-category="party" href="/event_types/party" class="hero-ctg__parent__list-btn party" data-reactid="22">
                  <span data-reactid="23">パーティー</span></a>
                </li>
                <li class="hero-ctg__parent__list col-xs-4" data-reactid="24">
                  <a data-group="1" data-category="class" href="/event_types/class" class="hero-ctg__parent__list-btn class" data-reactid="25">
                  <span data-reactid="26">会議</span></a>
                </li>
                <li class="hero-ctg__parent__list col-xs-4" data-reactid="27">
                  <a data-group="1" data-category="stay" href="/event_types/stay" class="hero-ctg__parent__list-btn stay" data-reactid="28">
                  <span data-reactid="29">宿泊</span></a>
                </li>
              </ul>
            </div>
          </div>
          <span data-reactid="30"></span>
          <div class="container" data-reactid="31">
            <div class="hero-ctg__child row" data-reactid="32">
              <ul class="hidden-xs" data-reactid="33">
                <li class="hero-ctg__child__list col-sm-1-5 col-xs-6" data-reactid="34">
                  <a data-group="2" data-category="photo_shoot" href="/event_types/photo_shoot" class="hero-ctg__child__list-btn" data-reactid="35">
                  <span data-reactid="36">写真撮影</span></a>
                </li>
                <li class="hero-ctg__child__list col-sm-1-5 col-xs-6" data-reactid="37">
                  <a data-group="2" data-category="film_shoot" href="/event_types/film_shoot" class="hero-ctg__child__list-btn" data-reactid="38">
                  <span data-reactid="39">ロケ撮影</span></a>
                </li>
                <li class="hero-ctg__child__list col-sm-1-5 col-xs-6" data-reactid="40">
                  <a data-group="2" data-category="studio" href="/event_types/studio" class="hero-ctg__child__list-btn" data-reactid="41">
                  <span data-reactid="42">個展・展示会</span></a>
                </li>
                <li class="hero-ctg__child__list col-sm-1-5 col-xs-6" data-reactid="43">
                  <a data-group="2" data-category="performance" href="/event_types/performance" class="hero-ctg__child__list-btn" data-reactid="44">
                  <span data-reactid="45">演奏・パフォーマンス</span></a>
                </li>
                <li class="hero-ctg__child__list col-sm-1-5 col-xs-6" data-reactid="46">
                  <a href="/event_types/other" class="hero-ctg__child__list-btn list-band-select" data-reactid="47">
                  <span data-reactid="48">その他</span></a>
                    <select name="others" class="w100pa js-select__transparent" data-reactid="49">
                      <option value="" data-reactid="50">指定なし</option>
                      <option value="sports" data-reactid="51">スポーツ・フィットネス</option>
                      <option value="office" data-reactid="52">オフィス</option>
                      <option value="wedding" data-reactid="53">結婚式</option>
                      <option value="event" data-reactid="54">イベント</option>
                      <option value="other" data-reactid="55">その他</option>
                    </select>
                </li>
              </ul>
            </div>
          </div>
          <span data-reactid="56"></span>
        </div>
      </div>
    </div>
    <%= render partial: 'sub_contents'%>
  </div>


  <footer id="js-site-footer">
  <%= render partial: "share/footer" %>
  </footer>

  <div id="js-baloon-container"></div>

</body>
</html>
